<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      IFinanças home
    </ion-title>

    

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Mês</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()"></ion-datetime>
  </ion-item>

  <dash-card
    valor = {{conta.pagar.valor}}
    tipo = "pagar"
    num = {{conta.pagar.num}}
  ></dash-card>

  <dash-card
    valor = {{conta.receber.valor}}
    tipo = "receber"
    num = {{conta.receber.num}}
  ></dash-card>

  <dash-card
    valor = {{conta.saldo.valor}}
    tipo = "saldo"
    num = {{conta.saldo.num}}
  ></dash-card>

  <div id="btnMenu">
    <ion-button fill="outline" [routerLink]="['/contas/pagar']" expand="block">Contas a Pagar</ion-button>
    <ion-button fill="outline" [routerLink]="['/contas/receber']" expand="block">Contas a receber</ion-button>
  </div>
  
</ion-content>
